@import url('https://fonts.googleapis.com/css?family=Julee');

h1 {
  font-family: 'Julee', cursive;
  text-align: center;
}


p{
  font-weight: bold;
}
img{
  width:400px;
  height:300px;
  margin: auto;
  display: block;
}
a{
  text-align: center;
}
body {
  background-image: url(../img/water.jpg);
}
